.button {
	background: none;
	border: 2px solid rgb(133, 133, 133);
	border-radius: 50%;
	color: rgb(86, 86, 86);
	cursor: pointer;
	transition: 0.3s color, 0.3s scale;
	padding: 1.2em 1.2em 0.7em 1em;
}

.button.active {
	color: rgb(255, 123, 0);
}

.button:hover {
	color: rgb(223, 0, 0);
	scale: 1.1;
}

.button svg {
	width: 3rem;
	height: 3rem;
}
