.actions {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

.actions button {
	cursor: pointer;
	border: none;
	font-size: 1.5rem;
	padding: 1rem 1.5rem;
	border-radius: 1rem;
	background-color: #646464;
	color: #fff;
	transition: 0.3s background-color, 0.3s scale;
}

.actions button:hover {
	background-color: #6b7192;
	scale: 1.1;
}

.items {
	padding-bottom: 2rem;
}
.items li {
	margin-left: 2rem;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	padding: 1rem;
}

.itemActions {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.itemActions button {
	border: none;
	border-radius: 8px;
	background-color: #646464;
	padding: 1rem;
	color: #fff;
	cursor: pointer;
}
