.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	gap: 2rem;
	color: #5d5d5d;
	max-width: 920px;
	margin: 0 auto;
}

.title {
	margin: 0;
	padding: 0;
}
.logo svg {
	width: 10rem;
	height: 10rem;
}
