.item {
	list-style-type: none;
	display: grid;
	grid-template-areas:
		'title title'
		'image image'
		'price button';
	padding: 2rem;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.prodDetails {
	list-style-type: none;
	display: grid;
	grid-template-areas:
		'image title'
		'image price'
		'image button'
		'image description'
		'image description'
		'image description';
	padding: 2rem;
	align-items: stretch;
	justify-content: stretch;
	gap: 1rem;
}

.prodDetails .title {
	font-size: 3rem;
	text-align: center;
}

.prodDetails .price {
	font-size: 3rem;
	text-align: center;
}

.title {
	color: #646464;
	grid-area: title;
	cursor: pointer;
}

.image {
	border-radius: 1.5rem;
	grid-area: image;
	cursor: pointer;
}

.price {
	margin-top: 1.5rem;
	margin-right: 1rem;
	color: #646464;
	font-size: 1.8rem;
	grid-area: price;
}

.button {
	padding: 1rem 1.5rem;
	border: none;
	border-radius: 1rem;
	background-color: #646464;
	color: #fff;
	cursor: pointer;
	transition: 0.3s background-color, 0.3s scale;
	grid-area: button;
}

.button:hover {
	background-color: #6b7192;
	scale: 1.1;
}
