* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: black;
	background-color: #fff;
	font-size: 62.5%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
	margin-bottom: 1em;
}

body {
	margin: 0;
	align-items: start;
	min-height: 100vh;
	font-size: 1.6rem;
}
